/*
	Порядок сортировки CSS свойств
	1. Позиционирование
	2. Блочная модель
	3. Типографика
	4. Оформление
	5. Анимация
	6. Разное
*/

@font-face {
	font-family: "ptsans";
	src: url(../fonts/ptsans.woff);
	src: url(../fonts/ptsans.woff2);
	font-weight: normal;
}

@font-face {
	font-family: "ptsansbold";
	src: url(../fonts/ptsansbold.woff);
	src: url(../fonts/ptsansbold.woff2);
	font-weight: bold;
}

.visually-hidden:not(:focus):not(:active) {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	min-width: 1200px;
	margin: 0;
	padding: 0;

	font-family: "ptsans", Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	line-height: 24px;
	color: #000000;

	background-color: #f0f0f0;
}

.main-container {
	margin: 0 75px;

	background-color: #ffffff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.inner-container {
	height: 100%;
	padding: 0 70px;
}

img {
	max-width: 100%;
	height: auto;
}

.header {
	width: 100%;
	height: 55px;
}

.main-navigation {
	height: 100%;
}

.navigation-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	padding: 0;
	height: 100%;

	font-family: "ptsansbold", Arial, sans-serif;

	list-style: none;
}

.navigation-list a {
	color: #000000;

	text-decoration: none;
}

.navigation-logo {
	position: relative;

	width: 170px;
	height: 100%;
}

.navigation-logo::after {
	position: absolute;
	left: 30px;
	top: 0;

	width: 170px;
	height: 72px;

	background-image: url(../img/icon/logo.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: contain;

	z-index: 9;
	content: "";
}

.find-hotel-wrapper,
.main-logo {
	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;
	height: 510px;

	background-image: url("../img/main/bg-main.jpg");
	background-position: 0 -80px;
	background-repeat: no-repeat;
	background-size: 100%;
}

.find-hotel {
	position: relative;

	overflow: hidden;
}

.find-hotel-wrapper {
	margin: -10px;
	height: 240px;

	background-position: 0 -300px;
	filter: blur(10px);
}

.decorative-arrows {
	position: absolute;
	bottom: 0;
	left: 0;

	width: 100%;
	height: 60px;
}

.arrows-wrapper {
	position: relative;

	width: 100%;
	height: 100%;
}

.arrows {
	position: absolute;

	width: 100%;
	height: 100%;
}

.arrow-outer,
.arrow-inner {
	position: relative;

	height: 100%;
	width: 100%;
}

.arrow-inner {
	width: 60%;
}

.arrow-outer::after,
.arrow-outer::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	border-left: 0 solid white;
	border-right: 600px solid transparent;
	border-bottom: 60px solid white;
}

.arrow-outer::after {
	left: initial;
	right: 0;
	border-left: 600px solid transparent;
	border-right: 0 solid white;
}

.arrow-inner::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0px;
	border-left: 0 solid white;
	border-right: 470px solid transparent;
	border-bottom: 80px solid white;
}

.arrow-inner::after {
	content: "";
	position: absolute;
	top: 0;
	left: 500px;
	border-right: 0 solid white;
	border-left: 450px solid transparent;
	border-bottom: 80px solid white;
}

.main-features {
	margin: 0;
	padding: 40px 0;
}

.main-features-title {
	margin-bottom: 30px;

	font-family: "ptsansbold", Arial, sans-serif;
	font-size: 22px;
	line-height: 24px;
	text-align: center;
}

.main-features-text {
	margin: 0;
	margin-bottom: 50px;
	padding: 0;

	text-align: center;
}

.feature {
	display: flex;

	background-color: #81b3d2;

	height: 255px;
}

.feature-card {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	align-self: center;
	height: 65%;
	width: 400px;

	color: white;
	text-align: center;
}

.card-title {
	font-family: "ptsansbold", Arial, sans-serif;
	font-size: 22px;
	line-height: 20px;
}

.card-num {
	position: relative;
	width: 50px;
}

.card-num::before {
	position: absolute;
	top: 50%;
	left: 0;

	width: 10px;
	height: 1px;

	background: white;
	content: "";
}

.card-num::after {
	position: absolute;
	top: 50%;
	right: 0;

	width: 10px;
	height: 1px;

	background: white;
	content: "";
}

.feature-img {
	overflow: hidden;
}

.feature-img img {
	position: relative;
	top: -75px;

	width: 100%;
	height: auto;
}

.features-block {
	display: flex;
	justify-content: space-around;
	height: 330px;
}

.features-block:last-of-type {
	align-items: center;
	height: 260px;

	background-color: #e9e9e9;
}

.features-block:last-of-type .card-num::after,
.features-block:last-of-type .card-num::before {
	background: black;
}

.features-block .feature-card {
	display: flex;
	justify-content: flex-end;
	margin-top: 70px;
	height: 150px;
	width: 300px;

	color: black;
}

.features-block:last-of-type .feature-card {
	justify-content: center;
	margin: 0;
	height: 200px;
}

.features-block:last-of-type .feature-card > * {
	margin: 10px;
}

.card-icon {
	margin-top: 50px;
}

.main-hotels {
	position: relative;

	display: flex;
	flex-direction: column;
	align-items: center;

	height: 250px;
}

.hotels-title {
	margin-top: 10px;

	font-family: "ptsansbold", Arial, sans-serif;
	text-align: center;
	font-size: 30px;
	line-height: 30px;
}

.hotels-subtitle {
	text-align: center;
	margin-top: 0px;
}

.index-btn {
	position: absolute;
	bottom: 0;

	height: 85px;
	width: 570px;

	color: white;
	font-size: 20px;
	text-transform: uppercase;
	font-family: "ptsansbold", Arial, sans-serif;

	background-color: #766357;

	cursor: pointer;
	border: none;
	outline: none;
}

.index-btn:hover,
.index-btn:focus {
	background-color: #604e43;
}

.index-btn:active {
	background-color: #503e33;
}

.index-btn:active p {
	opacity: 0.3;
}

.index-form-wrapper {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
}

.index-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 55px;
	width: 570px;

	font-family: "ptsansbold", Arial, sans-serif;

	transition: all 0.6s;
	overflow: hidden;
	background-color: white;
}

.index-form-line {
	margin-bottom: 35px;
}

.index-form-line:last-of-type {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}

.index-line-label {
	display: inline-block;
	width: 110px;
}

.index-line-div:last-of-type .index-line-label {
	text-align: center;
}

.index-line-input {
	position: relative;
	padding: 5px 10px;
	height: 35px;
	width: 345px;
	border: none;

	background-color: #f2f2f2;
}

.index-line-input:hover {
	background-color: #ebebeb;
}

.index-line-input:focus {
	outline: auto;

	background-color: #ffffff;
}

.index-form-line:last-of-type .index-line-input {
	width: 110px;
}

.index-line-input[type="date"]::-webkit-calendar-picker-indicator {
	height: 20px;
	width: 20px;

	background-image: url(../img/icon/calendar.svg);

	cursor: pointer;
}

.index-line-div .index-line-input {
	text-align: center;
}

.index-submit-btn {
	height: 60px;
	width: 100%;

	color: white;
	font-size: 20px;
	text-transform: uppercase;
	font-family: "ptsansbold", Arial, sans-serif;

	cursor: pointer;
	border: none;
	outline: none;
}

.index-submit-btn p {
	margin: 0;
	padding: 0;
}

.path-hole,
.footer-socials a,
.index-submit-btn {
	background-color: #81b3d2;
	fill: #81b3d2;
}

.footer-socials a:hover .path-hole,
.footer-socials a:hover,
.index-submit-btn:hover {
	background-color: #669ec0;
	fill: #669ec0;
}

.footer-socials a:active,
.footer-socials a:active .path-hole,
.index-submit-btn:active {
	background-color: #5496bd;
}

.path-background {
	fill: #ffffff;
}

.footer-socials a:active .path-background {
	opacity: 0.3;
}

.index-submit-btn:active p {
	opacity: 0.3;
}

.main-map {
	position: relative;

	height: 475px;

	background-image: url("../img/main/map.jpg");
	background-position: center;
}

.footer {
	display: flex;
	align-items: center;
	padding: 0 120px;
	height: 120px;
}

.footer-contacts {
	margin-right: 180px;

	font-size: 22px;
	font-family: "ptsansbold", Arial, sans-serif;
}

.contacts-text {
	margin: 0;
	margin-bottom: 10px;

	color: black;
	text-decoration: none;
}

.contacts-tel {
	margin: 0;

	color: black;
	text-decoration: none;
}

.footer-socials {
	display: flex;
	justify-content: space-between;
	margin-right: auto;
	width: 150px;
}

.footer-socials a {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 45px;
	width: 45px;
}

.social-link {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 25px;
	width: 25px;
}

.author-link {
	display: flex;

	text-decoration: none;
	color: black;
}

.author-text {
	margin-right: 10px;
}

.author-name {
	font-family: "ptsansbold", Arial, sans-serif;

	text-decoration: underline;
}

.footer-author:hover {
	cursor: pointer;
}

.footer-author:hover .author-name {
	color: #81b3d2;
}

.footer-author:active .author-name {
	color: #bdbbbc;
}

.modal-show-animation {
	animation: showup 0.5s;
}

.modal-hide-animation {
	animation: showdown 0.5s;
}

@keyframes showup {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 0.2;
	}
	40% {
		opacity: 0.4;
	}
	60% {
		opacity: 0.6;
	}
	80% {
		opacity: 0.8;
	}
	100% {
		opacity: 1;
	}
}

@keyframes showdown {
	0% {
		opacity: 1;
	}
	20% {
		opacity: 0.8;
	}
	40% {
		opacity: 0.6;
	}
	60% {
		opacity: 0.4;
	}
	80% {
		opacity: 0.2;
	}
	100% {
		opacity: 0;
	}
}


.find-hotel-form {
	position: absolute;
	top: 0;
	left: 0;

	z-index: 9;
}