/*
	Порядок сортировки CSS свойств
	1. Позиционирование
	2. Блочная модель
	3. Типографика
	4. Оформление
	5. Анимация
	6. Разное
*/

.visually-hidden:not(:focus):not(:active) {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	min-width: 1200px;
	margin: 0;
	padding: 0;

	font-family: "ptsans", Arial, sans-serif, "ptsansbold", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	color: #000000;
}

img {
	max-width: 100%;
	height: auto;
}
