/*
	Порядок сортировки CSS свойств
	1. Позиционирование
	2. Блочная модель
	3. Типографика
	4. Оформление
	5. Анимация
	6. Разное
*/

@font-face {
	font-family: "ptsans";
	src: url(../fonts/ptsans.woff);
	src: url(../fonts/ptsans.woff2);
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "ptsansbold";
	src: url(../fonts/ptsansbold.woff);
	src: url(../fonts/ptsansbold.woff2);
	font-style: normal;
	font-weight: bold;
}

.visually-hidden:not(:focus):not(:active) {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	min-width: 1200px;
	margin: 0;
	padding: 0;

	font-family: "ptsansbold", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	color: #000000;

	background-color: #f0f0f0;
}

.container {
	margin: 0 45px;

	background-color: #ffffff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

img {
	max-width: 100%;
	height: auto;
}

.header {
	width: 100%;
	height: 60px;
}

.main-navigation {
	height: 100%;
}

.navigation-list {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0;
	padding: 0;
	height: 100%;

	font-family: "ptsansbold", Arial, sans-serif;
	text-transform: uppercase;

	list-style: none;
}

.navigation-list a {
	color: #000000;

	text-decoration: none;
}

.navigation-logo {
	position: relative;

	width: 170px;
	height: 100%;
}

.navigation-logo::after {
	position: absolute;
	left: 50%;
	top: 0;
	transform: translate(-50%, 0);

	width: 140px;
	height: 72px;

	background-image: url(../img/icon/logo.png);

	content: "";
}

.list-item-left {
}

.list-item-right {
}
.main {
}
.main-logo {
}
.main-features {
}
.main-features-title {
}
.main-features-text {
}
.feature {
}
.feature-card {
}
.card-title {
}
.card-num {
}
.card-text {
}
.feature-img {
}
.features-block {
}
.card-icon {
}
.main-hotels {
}
.hotels-title {
}
.hotels-subtitle {
}
.hotels-btn {
}
.form-wrapper {
}
.form {
}
.form-line {
}
.line-label {
}
.line-input {
}
.line-div {
}
.submit-btn {
}
.map {
}
.footer {
}
.footer-contacts {
}
.contacts-text {
}
.contacts-tel {
}
.footer-socials {
}
.footer-author {
}
.author-text {
}
.author-name {
}
